// Background Colors
$backgroud-generic: #052641;
$background-light: #ffffff;
$background-youtube: #dd5757;

// Font colors
$font-color-generic: #052641;
$font-color-light: #ffffff;
$font-color-dark: #2d2d2d;

// Weights
$bold: bold;
$light: 300;

// Rating color:
$fresh: #6efad7;
$ok: #f4f954;
$rotten: #f95454;

// Borders
$border-generic: #052641;
