@import "../../styles/variables.scss";
@import "../../styles/media-queries.scss";

.movie-page {
  &__welcome-banner {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    height: 365px;
    background-image: url("../../assets/Header_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include for-tablet-portrait-up {
      background-size: cover;
    }

    &__subscribe {
      display: flex;
      justify-content: center;
      align-content: center;
      height: fit-content;
      padding: 25px 0;
      background-image: url("../../assets/Subscribe-bg.png");
      background-color: $backgroud-generic;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .welcome-banner {
    text-align: left;
    color: $font-color-light;
    width: 270px;
    margin: 25px 0;

    &__title {
      font-size: 36px;
      text-transform: uppercase;
      font-weight: bold;
    }
    &__text {
      font-size: 20px;
      font-weight: bold;
    }
  }

  .subscribe-banner {
    text-align: left;
    color: $font-color-light;
    width: 270px;
    display: flex;
    flex-wrap: wrap;

    &__title {
      font-size: 32px;
      text-transform: uppercase;
      font-weight: bold;
    }
    &__text {
      font-size: 16px;
      font-weight: light;
    }
  }

  .show-more {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 120px;
    padding: 0 20px;
    border: none;
    border-radius: 50px;
    font-size: 14px;
    font-weight: light;
    background-color: $backgroud-generic;
    color: $font-color-light;
  }
}
