@import "../../styles/variables.scss";


.component__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  gap: 50px;
}

.component__btn {
  color: $font-color-generic;
  border: solid 1px $border-generic;
  border-radius: 50px;
  background-color: $background-light;
  cursor: pointer;
  font-size: 14px;
  font-weight: $light;
  width: 200px;
  padding: 0 20px;
  height: 30px;

  &--active {
    color: $font-color-light;
    border: none;
    border-radius: 50px;
    background-color: $backgroud-generic;
    cursor: pointer;
    font-size: 14px;
    font-weight: $light;
    width: 200px;
    padding: 0 20px;
    height: 30px;
    transition: all 0.2s ease-in-out;
  }
}
