@import "../../../../styles/variables.scss";

.discover {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 75px;
    width: 300px;
    background-color: $background-youtube;
    margin: 15px 0 25px 0;

    &-link {
      text-decoration: none;
      color: $font-color-light;
      cursor: pointer;
      font-size: 20px;
      font-weight: $bold;
    }
    &-link:hover {
      text-decoration: underline;
      text-underline-offset: 5px;
    }

    &-icon {
      color: $font-color-light;
      font-size: 50px;
      margin-right: 10px;
    }

    &-details {
      text-align: center;
      &-title {
        font-size: 16px;
        font-weight: $bold;
        margin: 30px 0 0 0;
      }

      &-text {
        font-size: 14px;
        font-weight: $light;
        margin: 0;
      }
    }
  }
}
