@import "../../../styles/variables.scss";

.discover {
  background-color: $backgroud-generic;
  margin: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $font-color-light;

  &__media {
    margin: 30px 0;

    &-title {
      color: $font-color-light;
      margin: 36px 0 50px 0;
      align-self: flex-start;
      font-size: 24px;
      font-weight: $bold;
    }
  }
}

.more-btn--alt {
  height: 30px;
  width: 136px;
  padding: 0 20px;
  border: none;
  border-radius: 50px;
  margin: 20px 10px 70px 15px;
  font-size: 14px;
  font-weight: light;
  background-color: $background-light;
  color: $font-color-dark;
}
